.type-09{
        text-align: center;
        display: block;
        width:500px;
        height:auto;
        
        .login {
            border: 3px solid rgb(241, 242, 245);
            width:200px;
            height:200px;
            border-radius: 50%;
        
            img{
                    border: 3px solid rgb(241, 242, 245);
                    width:200px;
                    height:200px;
                    border-radius: 50%;
                }
            }

        .text {
            text-transform: uppercase;
            color: rgb(0, 87, 163);
            font-weight: 500;
            font-size: 15px;
        }
        .text1 {
            color: rgb(128, 128, 128);
            margin-top: -12px;
        }

        .btn-facebook{
            .facebook {
                background: rgb(66, 103, 178);
                width: 272px;
                height: 44px;
                color: white;
                margin-top: 20px;
                text-align: left;

                .iWbuuZ {
                    display: inline-block;
                    text-align: left;
                    width: 40px;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                }

                .ertcLt {
                    display: inline-block;
                    text-align: center;
                    
                }
            }
        }

        .githup {
            margin: 15px auto;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 272px;
            height: 44px;
            text-align: left;
            background: rgb(255, 255, 255);
            color: rgb(7, 7, 7);
            opacity: 0.8;
        }

        .google {
            background: white;
            color: rgb(128, 128, 128);
            width: 272px;
            height: 44px;
            border: 1px solid rgba(0, 0, 24, 0.14);
            text-align: left;
        }
}