a {
  text-decoration: none;
}
a {
  background-color: transparent;
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 13.4px;
  line-height: 1.4;
  color: #404040;
  background-color: #dce0e4;
}
html {
  line-height: 1.15;
  text-size-adjust: 100%;
}
.fFQYvZ {
  display: block;
  padding: 4px;
  min-height: 149px;
  background: #f1f2f5;
  color: black;
  cursor: pointer;
  margin: 0px 8px 8px 0px;
  flex: 1 0 122px;
}
.kEOano {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 8px -8px 0px 0px;
}
.ipGgrS {
  position: relative;
  margin: 4px auto 0px;
}
.gluUez {
  border-radius: 50%;
}
.iKKRor {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.dKEjkb {
  background-color: #004996;
  color: white;
  display: inline-block;
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #e6ebee;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
}
.cmzgnH {
  font-weight: 500;
  padding: 8px 4px;
  text-align: center;
  min-height: 52px;
}
.dKGIlX {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: -4px;
  padding: 2px 4px;
  background-color: #e6ebee;
}
.ctWGZL {
  color: #0078e0;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clDCDf {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 50px;
}
.jbHIoF {
  text-transform: uppercase;
  color: #404040;
  margin-left: 4px;
}
