.type-08{
    .content{
        background-color: rgb(241, 242, 245);
        height:auto;
        width:400px;
        margin-left: 10px;

        .avatar{
            text-align: center;

            .gluUez{
                border-radius: 50%;
            }
        }

        .full-name{
            margin-bottom: 40px;
            margin-left: 10px;
        }

        .infomation>p{
            margin: 5px 0 5px 20px;

            .sig-out{
                margin-left: 20px;
            }

            .remove{
                margin-left: 20px;
            }
        }
    } 
    
}


    