.type-9 {
  text-align: center;
  display: block;
  width: 500px;
  height: auto;
}

.type-9 .login {
  border: 3px solid rgb(241, 242, 245);
    width:200px;
    height:200px;
    border-radius: 50%;
}

.type-9 .text {
  text-transform: uppercase;
  color: #0057a3;
  font-weight: 500;
  font-size: 20px;
}
.type-9 .text1 {
  color: #808080;
  margin-top: -12px;
  font-size: 10px;
}
.type-9 .facebook {
  margin: 15px auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 272px;
  height: 44px;
  text-align: left;
  background: #4267b2;
  color: white;
  opacity: 0.8;
  font-size: 1.5rem;
}
.type-9 .iWbuuZ {
  display: inline-block;
  text-align: left;
  width: 40px;
  border-right: 1px solid rgba(180, 178, 178, 0.5);
}
.type-9 .ertcLt {
  display: inline-block;
  text-align: center;
}
.type-9 .githup {
  margin: 15px auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 272px;
  height: 44px;
  text-align: left;
  background: #c46f6f;
  color: #070707;
  opacity: 0.8;
  font-size: 1.5rem;
}
.type-9 .google {
  margin: 15px auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 272px;
  height: 44px;
  text-align: left;
  background: #ffffff;
  color: #070707;
  opacity: 0.8;
  font-size: 1.5rem;
}
