@import "../vars.less";
.style-5 .all_leagues {
  margin: 5px;
  padding: 5px;
}
.style-5 .all_leagues .btn_all_leagues {
  border: none;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background: rgba(220,224,228,0.5);
  text-align: center;
}
.style-5 .all_leagues .leagues .lb-leagues {
  width: 100%;
}
.style-5 .all_leagues .leagues .lb-leagues .parent-leagues {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}
.style-5 .all_leagues .leagues .lb-leagues .parent-leagues a {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
}
.style-5 .all_leagues .leagues .lb-leagues .parent-leagues a .logo_leagues {
  height: 30px;
  width: 30px;
  float: left;
  margin: 5px;
}
.style-5 .all_leagues .leagues .lb-leagues .parent-leagues a .logo_leagues img {
  border-radius: 100%;
}
.style-5 .all_leagues .leagues .lb-leagues .parent-leagues a .name_leagues {
  margin: 5px;
  padding: 5px;
  font-size: smaller;
}
.style-5 .all_leagues .leagues .lb-leagues .parent-leagues:hover {
  background: rgba(229,232,235,0.4);
}
.style-5 .all_leagues .leagues .lb-leagues .parent-leagues:hover a {
  color: #278adb;
}
.style-5 .all_leagues .leagues .lb-leagues:hover {
  cursor: pointer;
}
.style-5 .all_leagues .leagues .cb-leagues {
  display: none;
}
.style-5 .all_leagues .leagues .cb-leagues:checked~.list-leagues {
  display: none;
}
.style-5 .all_leagues .leagues .list-leagues {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.style-5 .all_leagues .leagues .list-leagues .leagues a {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
}
.style-5 .all_leagues .leagues .list-leagues .leagues a .name_leagues {
  margin: 5px;
  padding: 5px;
  font-size: smaller;
}
.style-5 .all_leagues .leagues .list-leagues .leagues:hover a {
  color: #278adb;
}
